{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>成員介紹</h1><!--成員介紹aboutus3-->
<div class="Frame">
    <div class="bdcard">
        <img src="{% static 'images/鄭景鴻照片.jpg' %}" alt="鄭景鴻">
    </div>
    <div class="bdtext">
        <h2>鄭景鴻</h2>
        <p>
            負責工作：資料爬蟲，資料整理，繪製圖表
        </p>
        <p>
            經過兩個學期的專案製作，我心中有很多的感觸，在團體合作中會遇到很多不如意，
            其中又以溝通的部分有最大的困難，但是因為這次有遇到困難所以我們才可以在未來遇到有先前的經驗能從容面對。
            比起看書考試，實際實作一次才能夠對圖表有更多的了解，而且圖表的呈現樣式遠遠不僅限於大學課本裡頭的那幾項而已，
            這一次製作的經驗帶給我心理上還有專業能力的成長，收穫豐碩。
        </p>
    </div>
</div>
<br />
<div class="Frame">
    <div class="bdcard">
        <img src="{% static 'images/宋睿騰照片.jpg' %}" alt="宋睿騰">
    </div>
    <div class="bdtext">
        <h2>宋睿騰</h2>
        <p>
            負責工作：股票資料整理、分析
        </p>
        <p>
            從零開始的我們原本對整個股票市場完全不了解的我們，有了非常多自己的見解或是看法。
            在這兩學期的專案學習發現了很多問題都是一體多面的像是影響股價的原因，
            我也發現了整體的股市都是有前因後果且在很多時候按照個人理解來推斷是不一定正確。
        </p>
        <p>
            雖然還有許多需要去更加突破以及花更多時間了解的，但這次的專案埋下了一個學習與解決問題的種子，
            讓我在面對未來不熟悉的領域不畏懼困難。
        </p>
    </div>
</div>
<br />
<div class="Frame">
    <div class="bdcard">
        <img src="{% static 'images/陳維宇照片.jpg' %}" alt="陳維宇">
    </div>
    <div class="bdtext">
        <h2>陳維宇</h2>
        <p>
            負責工作：前後端、網頁呈現
        </p>
        <p>
            很感謝景鴻和睿騰陪我一起完成這個專案，我們在溝通上雖然不盡理想，但每個人還是有依照自身能力為這個專案付出了
            寶貴的時間和精力，也謝謝兩位業師在我們遇到瓶頸時給予我們的協助，無怨無悔的在下班後花時間陪我們開會，
            催促我們拖到不能再拖的專案進度，耐心地回答我們無窮無境的問題。
        </p>
        <p>
            這個專案是我們從零開始學習的，一開始的我們連前後端都分不清楚，
            也不清楚有甚麼後端可以使用，誤打誤撞把這個網頁架起來了。誠如大家所見，這並不是一個很完美的網頁，在功能或內容上
            有許多可以改進的部分，但對於一開始股票和前後端都不懂的我們來說，能做出一個功能尚且完整的網頁來說已經是奇蹟了
            。最重要的是我們在過程中學到了很多關於股票和前後端的知識，查閱的書籍和網頁我相信對於我們日後投資都有實質的幫助
            ，也很高興有這個機會和朋友跟學長姐一起學習做專案，期待日後還有機會一起做別的專案。
        </p>
    </div>
</div>



{% endblock Content %}