{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>專案背景</h1><!--專案背景aboutus1-->

<p align="center">
    由於現在投資理財的潮流下，投資股票商品已經不再是商業人士和專業人員才能從事的活動，
    這已經是一件全民參與的活動。因此我們三個學生討論討論我們的主題做與股票相關，
    趁這個機會也可以練習怎麼架設網站、將資料視覺化的呈現出來。
    剛好網路上面也有很多的股票網站，所以就想要自己也做做看。
</p>
<div class="Frame">
    <p>
        由於現在投資理財的潮流下，投資股票商品已經不再是商業人士和專業人員才能從事的活動，
        這已經是一件全民參與的活動。因此我們三個學生討論討論我們的主題做與股票相關，
        趁這個機會也可以練習怎麼架設網站、將資料視覺化的呈現出來。
        剛好網路上面也有很多的股票網站，所以就想要自己也做做看。
    </p>
</div>
<div align="center">
    <img src="{% static 'images/target.png' %}" alt="target">
</div>

<a class="btn btn-danger" href="/">回首頁</a>
{% endblock Content %}