{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>2365昆盈</h1>

<div align="center">
    <img src="{% static 'images/2365昆盈.png' %}" alt="2365昆盈" title="圖片來源：昆盈粉絲團">

</div>


<p>
    創立於1983年，曾經是台灣前二十大的國際品牌公司，過去有在許多國家設立子公司，但都因經營不善而裁撤，
    其中在中國大陸廣東省東莞設有工廠，產品主要是電腦周邊輸入裝置、消費性電子產品、影像處理裝置等。
    目前產品來源主要來自外購。30多年來，昆盈Genius從事鍵盤、觸控筆、耳機、音箱、數字攝錄影機及遊戲周邊產品的設計，
    已有1124項專利。目前滑鼠所廣泛使用的滾輪即為昆盈的專利，但近年已無力開發新產品，
    且過去有著名的逃稅醜聞事件1998年，陳啟忠被昆盈公司派駐到東莞的長盈電腦製品廠，擔任財務會計經理，
    兼管進出口關務。2000年1月，中國海關到工廠查稅。公司內部核對倉庫帳及報關帳時發現有出入，
    並向海關提交五百萬元人民幣的保證金。陳啟忠感到事態嚴重，辭職走避，轉到其他台商處任職。
    時任董事長陳松永向陳啟忠表示，為保住工廠，要陳啟忠承擔責任，並且補償其450萬元台幣，要求他兩年內別去大陸。
</p>

{% endblock Content %}