{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>2382廣達電</h1>
<img src="{% static 'images/2382廣達電.png' %}" alt="2382廣達電" title="廣達電腦">

<p>
    是台灣的筆記型電腦、平板電腦、伺服器、相機、工業電腦、手機代工及雲端軟硬體整合大廠，
    歷年皆為美國財星全球500大及美國富比士世界2000大企業之一，
    也是美國《財富》雜誌2021年評選的全球最大500家公司的排行榜中的第324名；
    歷年亦同時在台灣千大製造業調查中名列前茅，2012年列名第2。
    廣達電腦為專門的ODM、OEM代工廠，代工客戶有宏碁、IBM、HP、戴爾、蘋果電腦、Toshiba、Sony、
    聯想集團（Lenovo）等；而在雲端軟硬體整合產品上，有雲達QCT（完整伺服器、儲存、網通設備整合）等品牌，
    目前QCT在全球大型雲端資料中心(前50大)市占率超過五成。近年重視員工發展成立廣達菁英學校，
    提供豐富的學習資源以建構全方位人才，重視人才培育，除部門內訓，
    AI小聚與專題分享也持續匯集能量推動著業務的轉型與升級，更與國網中心，資策會、工研院、
    台灣人工智慧學校等展開一系列的AI人才訓練計畫。

</p>

{% endblock Content %}