{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>2891中信金</h1>
<img src="{% static 'images/2891中信金.png' %}" alt="2891中信金" title="中信官網">

<p>
    成立於2002年，是由中國信託商業銀行以股份轉換方式成立的，後來也創立了中國信託證券、中信保全、中信資產管理、臺灣彩券等子公司，
    並在2015年接手經營興國管理學院將其改名為中信金融管理學院投入教育行業，
    近年重大投資就是在2021年成為LHFG金融集團最大股東增持股份至46.6%，投資泰國市場助攻其數位及消費金融服務能力，
    同時聚焦中小企業，成為台商與當地客戶的最佳後盾。
</p>
<p>
    *LHFG金融集團為泰國上市公司，經營版圖涵蓋商業銀行（LH Bank）、證券（LH Securities）及投信（LH Fund Management）等，
    截至2021年底，總資產達2,646億元泰銖（折合新台幣約2,210億元），其中LH Bank為集團核心子公司，
    在泰國排名第12大商業銀行，於泰國境內擁有78家分行。
</p>

{% endblock Content %}