{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>3231緯創</h1>
<img src="{% static 'images/3231緯創.png' %}" alt="3231緯創" title="緯創官網">

<p>
    緯創集團公司包括子公司和其隸屬成員，皆為資訊科技界的佼佼者。集團公司成員提供了在通訊、
    零件和解決方案及軟體產業上各種不 同的產品和服務。
    像是啟碁科技股份有限公司: 專精於尖端通訊產品的設計與研發，技術範圍涵蓋寬頻與廣播、多媒體與物聯網、
    以及有線與無線領域，產品範疇包括網路通訊、數位家庭、衛星廣播與智慧駕駛輔助等解決方案。
    緯穎科技服務股份有限公司:
    緯穎科技專注於提供雲端服務及巨型資料中心的各項產品及系統的解決方案並為不同客戶量身定做各項營運系統及管理服務。
    緯穎科技具備頂尖團隊為客戶提供「端到端」的雲端服務及巨型資料中心各項服務的全方位解決方案，
    其中包括高性價比的伺服器、儲存設備、 網路系統、機房基礎設備及資源管理平臺。

</p>

{% endblock Content %}