{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>2324仁寶</h1>
<div align="center">
    <img src="{% static 'images/2324仁寶.png' %}" alt="2324仁寶" title="圖片來源:仁寶官網">
</div>


<p>
    是中華民國的筆記型電腦、手機代工大廠，全球第一大筆記型電腦製造商，與金寶電子同為金仁寶集團兩大核心公司。
    連續9年進入美國《彭博商業週刊》全球科技100強，也是美國《財富》雜誌2015年評選的全球最大500家公司第400名。
    生產的液晶視訊產品質量兼俱，
    更以穩健的步伐朝向5C ( Cloud, Connecting, Computing, Communication, Consumer.)的領域發展。
    為了架構全球運籌體系，
    仁寶在大陸、越南、美國、巴西、波蘭及墨西哥相繼成立據點，提供客戶彈性及快速的服務，並成為一個國際知名的ODM廠商。

</p>

{% endblock Content %}