{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>安泰銀2849技術指標</h1>

<div align="center">
    <iframe style="position: relative; background: transparent; width: 1100px; height: 400px;"
            scrolling="yes"
            src="{% static 'html/2849收盤價k線圖.html' %}">
    </iframe>
</div>
<div>
    <p>
        安泰銀整體資本額僅占金融股的0.6%，比起中信跟其他大公司安泰銀的走勢較像是隨金融股大盤而變動的不足以影響，
        所以整體走勢與金融股大盤沒有太大落差，這邊看到一些較特殊趨勢來介紹，2019 7月的年增率為16.1%也就他們股價如此提升的原因，
        向右的方框剛好是隔年的7月年增率為-14.86%可見2019的收入狀況之好當然受到全球疫情影響半段亦呈現了持續下降。
        至於2021的後半到2022年初相較其他個股上漲安泰銀卻是下降，我們推測可能跟國票金預計合併消息告吹有關，
        從月份來看整體波動會較其他個股來的起伏不定，不過此股適合長期投資因為可以看到整體的漲跌幅度並不算太大。
    </p>
</div>
<div class="table-index" align="center">
    <table align="center">
        <thead>
            <tr>
                <th>日期</th>
                <th>成交股數<br />(張)</th>
                <th>成交總額<br />(元)</th>
                <th>開盤價<br />(元)</th>
                <th>最高價<br />(元)</th>
                <th>最低價<br />(元)</th>
                <th>收盤價<br />(元)</th>
                <th>價差<br />(元)</th>
                <th>成交筆數<br />(元)</th>
                <th>CDP(均價)<br />(元)</th>
                <th>AH(行情最高價)<br />(元)</th>
                <th>NH(近高值)<br />(元)</th>
                <th>NL(近低值)<br />(元)</th>
                <th>AL(行情最低價)<br />(元)</th>
            </tr>
        </thead>
        <tbody>
            <!-- index2849表格資料 -->
            {% if index2849 %}
            {% for i in index2849 %}
            <tr>
                <td>{{i.Date}}</td>
                <td>{{i.A}}</td>
                <td>{{i.B}}</td>
                <td>{{i.C}}</td>
                <td>{{i.D}}</td>
                <td>{{i.E}}</td>
                <td>{{i.F}}</td>
                <td>{{i.G}}</td>
                <td>{{i.H}}</td>
                <td>{{i.I}}</td>
                <td>{{i.J}}</td>
                <td>{{i.K}}</td>
                <td>{{i.L}}</td>
                <td>{{i.M}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div align="center">
    <p>符號說明:+/-/X表示漲/跌/不比價</p>
</div>
{% endblock Content %}