{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>京城銀2809技術指標</h1>

<div align="center">
    <iframe style="position: relative; background: transparent; width: 1100px; height: 400px;"
            scrolling="yes"
            src="{% static 'html/2809收盤價k線圖.html' %}">
    </iframe>
</div>
<div>
    <p>
        2809京城銀比前面介紹的安泰銀又占比更小一些，
        所以經常看到即使京城銀股價上升其他個股是下降的情況又或者是金融股沒有隨著他上升而有所變動，
        像是2020年的方框我們前面介紹的個股一面倒的下降京城銀卻沒受到影響，2020年全年合併稅前獲利62.62億元，
        EPS=5.59元，較2019年同期大幅增加63％，獲利不僅未因疫情衰退，反而還逆勢大幅成長超過50％以上。
        在2021年創新高的配息2.1元後可以看到股價稍稍下降但影響不大屬於正常的現象，
        雖然京城銀內部希望股價能持續上看不果也可能過於樂觀畢竟整體的股價不只個股本身還有整體市場及國際趨勢，
        比起安泰銀此公司的上漲幅度較為穩定，
        但像前面分析的他們是較為獨立的個體，所以在雪則此公司股票時應對此公司更加了解或是做為長期投資的選擇。
    </p>
</div>
<div class="table-index" align="center">
    <table align="center">
        <thead>
            <tr>
                <th>日期</th>
                <th>成交股數<br />(張)</th>
                <th>成交總額<br />(元)</th>
                <th>開盤價<br />(元)</th>
                <th>最高價<br />(元)</th>
                <th>最低價<br />(元)</th>
                <th>收盤價<br />(元)</th>
                <th>價差<br />(元)</th>
                <th>成交筆數<br />(元)</th>
                <th>CDP(均價)<br />(元)</th>
                <th>AH(行情最高價)<br />(元)</th>
                <th>NH(近高值)<br />(元)</th>
                <th>NL(近低值)<br />(元)</th>
                <th>AL(行情最低價)<br />(元)</th>
            </tr>
        </thead>
        <tbody>
            <!-- index2809表格資料 -->
            {% if index2809 %}
            {% for i in index2809  %}
            <tr>
                <td>{{i.Date}}</td>
                <td>{{i.A}}</td>
                <td>{{i.B}}</td>
                <td>{{i.C}}</td>
                <td>{{i.D}}</td>
                <td>{{i.E}}</td>
                <td>{{i.F}}</td>
                <td>{{i.G}}</td>
                <td>{{i.H}}</td>
                <td>{{i.I}}</td>
                <td>{{i.J}}</td>
                <td>{{i.K}}</td>
                <td>{{i.L}}</td>
                <td>{{i.M}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div align="center">
    <p>符號說明:+/-/X表示漲/跌/不比價</p>
</div>
{% endblock Content %}