<!--第一道難題：零股-->
{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1 align="center">零股</h1>
<div class="Frame">
    <div class="bdcard">
        <img src="{% static 'images/投資小樹.png' %}" alt="投資小樹" height="200" width="200">
    </div>
    <div class="bdtext">
        <p>
            零股是新手在資金不夠的時候可以考慮的投資方式之一，
            像是一張0050一張大概都需要14萬，但是用零股的方式購買一股只需要140元!
            可以讓更多一開始資金不足的年輕人也能參與購買！
        </p>
    </div>
</div>

<!-- 投資小樹 -->
<img src="{% static 'images/投資小樹.png' %}" alt="投資小樹" height="50" width="50">
<h3>基本知識</h3>
<ul>
    <li>一張股票等於一千股</li>
    <li>如果要買超過一千股則會需要分開購買，例如要購買1500股可以分成999股加501股或是750股加750股</li>
    <li>零股買賣和一般股票買賣形式類似，同樣需要開戶，並且零股僅接受線上下單，不能說打電話去交易所購買零股。</li>
    <li>買賣零股同樣需要收手續費跟證券交易稅</li>
</ul>

<h3>與購買整張股票的差異</h3>
<p>基本上並無二致，但是在搓合方式有些許的不同，大家可以看下面的圖表來做對比</p>
<!---->
<table>
    <tr>
        <th>項目</th>
        <th>整股交易</th>
        <th>零股盤中交易</th>
        <th>零股盤後交易</th>
    </tr>
    <tr>
        <th>交易張數</th>
        <th>1000股為一單位</th>
        <th>1~999股</th>
        <th>1~999股</th>
    </tr>
    <tr>
        <th>交易時間</th>
        <th>9:00~13:30<br>每5秒撮合一次</th>
        <th>撮合9:00~13:30<br>8:30就可以委託<br>9:10第一次撮合<br>之後每三分鐘撮合一次</th>
        <th>13:40~14:30<br>只有14:30撮合一次</th>
    </tr>
    <tr>
        <th>交易機制</th>
        <th>出價高者得標<br>相同價格則先搶先贏</th>
        <th>出價高者得標<br>相同價格則先搶先贏</th>
        <th>出價高者得標<br>相同價格則電腦隨機選擇</th>
    </tr>
</table>

<h3>補充1：關於手續費和證券交易稅</h3>
<p>
    買賣零股同樣需要收手續費跟證券交易稅，關於手續費跟證券交易稅的公式可以參與以下標格。
    買賣皆需要收手續費；賣的時候需要額外收證券交易稅
</p>
<table>
    <tr>
        <th>項目</th>
        <th>公式</th>
        <th>備註</th>
    </tr>
    <tr>
        <th>手續費</th>
        <th>0.1425%（股價×股數×0.1425%）×手續費優惠</th>
        <th>每一間券商提供的優惠皆不同，更買錢可以多多貨比三家</th>
    </tr>
    <tr>
        <th>證券交易稅</th>
        <th>0.3%（股價×股數×0.3%）</th>
        <th></th>
    </tr>
</table>

<h3>補充：搓合</h3>
<p>
    搓合是投資時的用語，當你想要購買的時候也需要有人在相同時間想要賣掉手上的股票才能成交，
    關於搓合雙方買賣交易的行為就需要有交易員的幫助。
</p>


{% endblock Content %}
