<!--第三道難題-->
{% extends 'base.html' %}
{% block Content %}
{% load static %}
<h1>為何外資如此重要？ </h1>
<div class="Frame">
    <div class="bdcard">
        <img src="{% static 'images/shareholder.png' %}" alt="股東大會">
    </div>
    <div class="bdtext">
        <ol>
            <li>
                他們的投資很多時候不是一、兩天就結束，常常是三、五年起跳，所以要以他
                們當你的投資標的當然也需要多點耐心
            </li>
            <li>
                他們需要綜觀全亞洲或全球市場，操作的通常會是亞洲或全球的基金，台灣
                所占的比重是非常小的，加上台灣很多股票對他們來講，市值太小，在公司
                設定的選股條件下，他們無法買。如果遇到賠了錢的股票，因為比重不大，可
                能也就只是放著而已，也就是說外資還在股價狀況不佳，他們不是看好未來
                會漲而是準備認賠
            </li>
            <li>
                當外資在購買的同時表示也有另外一群人正在脫手手邊的股票，買賣兩邊的
                拉扯不會很快的帶來上漲很可能是下跌，所以當跟著外資買時需要一點時間
                等市場消化，才等待機會上漲
            </li>
            <li>
                外資帶來的是很大筆的投資金額沒錯，我們也看到外資對整體股市的影響，
                但他們也是人在操作的，肯定也會有失誤，所以外資的選擇是給我們一個更
                好的投資參考，而不是萬用藥。
            </li>
        </ol>
    </div>
</div>
{% endblock Content %}