<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        TSDC 團隊
    </title>

    <!--Logo-->
    <link rel="shortcut icon" href="{% static 'images/TSDC_去背ico.ico' %}" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!--設定表格風格-->
    <style>

        table {
            bdcard font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        /*about外框*/
        .Frame {
            width: 800px;
            margin: 50px auto;
            border: solid 0px gray;
            overflow: hidden; /* 避免長方框下面顯示不正常 */
        }
        .bdcard {
            width: 300px;
            float: right; /* 圖片在右邊 */
            padding: 20px;
        }
        .bdcard img {
            display: block;
            width: 100%;
         }

        .bdtext {
            float: left; /* 文字在左邊 */
            width: 430px;
            padding: 20px 20px 0px 0px;
        }









        .table-wrapper {
            border: 1px solid gray medium;
            width: 80%;
            height: 300px;
            overflow: auto;
        }
        /*滾動式表格介面*/
        table {
            border: 1px solid black;
            margin-right: 20px;
            text-align: center;
        }
        /*標題*/
        th {
            width: 20px;
            height: 20px;
            background-color: #0048ff;
            text-align: center;
            color:white;
        }
        /*內文*/
        td {
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            text-align: center;
            color:black;
        }
        .table-index {
            border: 1px solid gray medium;
            width: 100%;
            height: 300px;
            overflow: auto;
        }
        /*滾動式表格介面*/
        table {
            border: 1px solid black;
            margin-right: 20px;
            text-align: center;
        }
        /*標題*/
        th {
            width: 20px;
            height: 20px;
            background-color: #0048ff;
            text-align: center;
            color: white;
        }
        /*內文*/
        td {
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            text-align: center;
            color: black;
        }
       

    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">

                    <!-- TSDC圖標 -->
                    <img src="{% static 'images/TSDC_去背.png' %}" alt="TSDC logo" height="50" width="50">
                </div>
                <div class="sidebar-brand-text mx-3">108小組D</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Heading -->
            <div class="sidebar-heading">股票(Stock)</div>

            <!-- Nav Item - Pages Collapse Menu 團隊介紹 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-laugh-wink"></i>
                    <span>關於我們</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href={% url 'industry:aboutus1' %}>專案緣起</a>
                        <a class="collapse-item" href={% url 'industry:aboutus2' %}>研究動機與目的</a>
                        <a class="collapse-item" href={% url 'industry:aboutus3' %}>成員介紹</a>
                    </div>
                </div>
            </li>

            <!-- 公司company -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven"
                   aria-expanded="true" aria-controls="collapseSeven">
                    <i class="fas fa-industry"></i>
                    <span>公司company</span>
                </a>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href={% url 'industry:company_2324' %}>2324仁寶</a>
                        <a class="collapse-item" href={% url 'industry:company_2357' %}>2357華碩</a>
                        <a class="collapse-item" href={% url 'industry:company_2365' %}>2365昆穎</a>
                        <a class="collapse-item" href={% url 'industry:company_2382' %}>2382廣達</a>
                        <a class="collapse-item" href={% url 'industry:company_2809' %}>2809京城銀</a>
                        <a class="collapse-item" href={% url 'industry:company_2832' %}>2832台產</a>
                        <a class="collapse-item" href={% url 'industry:company_2849' %}>2849安泰銀</a>
                        <a class="collapse-item" href={% url 'industry:company_2886' %}>2886兆豐金</a>
                        <a class="collapse-item" href={% url 'industry:company_2891' %}>2891中信金</a>
                        <a class="collapse-item" href={% url 'industry:company_3231' %}>3231緯創</a>
                    </div>
                </div>
            </li>

            <!-- 籌碼chip -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                   aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-industry"></i>
                    <span>籌碼chip</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href={% url 'industry:chip_2324' %}>2324仁寶</a>
                        <a class="collapse-item" href={% url 'industry:chip_2357' %}>2357華碩</a>
                        <a class="collapse-item" href={% url 'industry:chip_2365' %}>2365昆穎</a>
                        <a class="collapse-item" href={% url 'industry:chip_2382' %}>2382廣達</a>
                        <a class="collapse-item" href={% url 'industry:chip_2809' %}>2809京城銀</a>
                        <a class="collapse-item" href={% url 'industry:chip_2832' %}>2832台產</a>
                        <a class="collapse-item" href={% url 'industry:chip_2849' %}>2849安泰銀</a>
                        <a class="collapse-item" href={% url 'industry:chip_2886' %}>2886兆豐金</a>
                        <a class="collapse-item" href={% url 'industry:chip_2891' %}>2891中信金</a>
                        <a class="collapse-item" href={% url 'industry:chip_3231' %}>3231緯創</a>
                    </div>
                </div>
            </li>

            <!-- 技術指標index -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
                   aria-expanded="true" aria-controls="collapseFour">
                    <i class="fas fa-industry"></i>
                    <span>技術指標index</span>
                </a>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href={% url 'industry:index_2324' %}>2324仁寶</a>
                        <a class="collapse-item" href={% url 'industry:index_2357' %}>2357華碩</a>
                        <a class="collapse-item" href={% url 'industry:index_2365' %}>2365昆穎</a>
                        <a class="collapse-item" href={% url 'industry:index_2382' %}>2382廣達</a>
                        <a class="collapse-item" href={% url 'industry:index_2809' %}>2809京城銀</a>
                        <a class="collapse-item" href={% url 'industry:index_2832' %}>2832台產</a>
                        <a class="collapse-item" href={% url 'industry:index_2849' %}>2849安泰銀</a>
                        <a class="collapse-item" href={% url 'industry:index_2886' %}>2886兆豐金</a>
                        <a class="collapse-item" href={% url 'industry:index_2891' %}>2891中信金</a>
                        <a class="collapse-item" href={% url 'industry:index_3231' %}>3231緯創</a>
                    </div>
                </div>
            </li>

            <!-- 財報report -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-industry"></i>
                    <span>財報report</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href={% url 'industry:report_2324' %}>2324仁寶</a>
                        <a class="collapse-item" href={% url 'industry:report_2357' %}>2357華碩</a>
                        <a class="collapse-item" href={% url 'industry:report_2365' %}>2365昆穎</a>
                        <a class="collapse-item" href={% url 'industry:report_2382' %}>2382廣達</a>
                        <a class="collapse-item" href={% url 'industry:report_2809' %}>2809京城銀</a>
                        <a class="collapse-item" href={% url 'industry:report_2832' %}>2832台產</a>
                        <a class="collapse-item" href={% url 'industry:report_2849' %}>2849安泰銀</a>
                        <a class="collapse-item" href={% url 'industry:report_2886' %}>2886兆豐金</a>
                        <a class="collapse-item" href={% url 'industry:report_2891' %}>2891中信金</a>
                        <a class="collapse-item" href={% url 'industry:report_3231' %}>3231緯創</a>
                    </div>
                </div>
            </li>

            <!-- 月資料month -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
                   aria-expanded="true" aria-controls="collapseSix">
                    <i class="fas fa-industry"></i>
                    <span>月資料month</span>
                </a>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Components:</h6>-->
                        <a class="collapse-item" href={% url 'industry:month_2324' %}>2324仁寶</a>
                        <a class="collapse-item" href={% url 'industry:month_2357' %}>2357華碩</a>
                        <a class="collapse-item" href={% url 'industry:month_2365' %}>2365昆穎</a>
                        <a class="collapse-item" href={% url 'industry:month_2382' %}>2382廣達</a>
                        <a class="collapse-item" href={% url 'industry:month_2809' %}>2809京城銀</a>
                        <a class="collapse-item" href={% url 'industry:month_2832' %}>2832台產</a>
                        <a class="collapse-item" href={% url 'industry:month_2849' %}>2849安泰銀</a>
                        <a class="collapse-item" href={% url 'industry:month_2886' %}>2886兆豐金</a>
                        <a class="collapse-item" href={% url 'industry:month_2891' %}>2891中信金</a>
                        <a class="collapse-item" href={% url 'industry:month_3231' %}>3231緯創</a>
                    </div>
                </div>
            </li>

            <!-- 補充question -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
                   aria-expanded="true" aria-controls="collapseFive">
                    <i class="fas fa-coins"></i>
                    <span>補充question</span>
                </a>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Custom Utilities:</h6>-->
                        <a class="collapse-item" href="{% url 'industry:question1' %}">補充一：零股</a>
                        <a class="collapse-item" href="{% url 'industry:question2' %}">補充二：</a>
                        <a class="collapse-item" href="{% url 'industry:question3' %}">補充三：</a>
                        <a class="collapse-item" href="{% url 'industry:question4' %}">補充四：</a>
                        <a class="collapse-item" href="{% url 'industry:question5' %}">補充五：</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    
                    

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block Content %}
                    {% endblock Content %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>版權 &copy; TDSC團隊</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 's/demo/chart-pie-demo.js' %}"></script>

</body>

</html>